@{
    ViewData["Title"] = "FAQs";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
    <p>1. What are Programming Languages</p>
    <p>2. Is C# a programming language</p>
    <p>3. Which is better C# or JavaScript</p>
